:host {
  display: block;
}

.header-container {
  height: 50px;
  background-color: #d52b1e;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .header-title {
    margin: 0;
    color: #FFFFFF;
    font-size: 24px;
    margin-left: 30px;
  }
}